@import 'styles/functional';

.mini-req-table {
    th,
    td {
        padding-top: 0;
        padding-bottom: 0;
    }
    .rq-name {
        text-align: right;
        padding-right: 7px;
    }
}

.wallet-nodes-area {
    margin-top: 10px;
    padding: 0 20px;

    display: flex;
    align-items: stretch;
    flex-wrap: wrap;

    max-width: 100%;

    .health-wrapper {
        flex-shrink: 0;
        max-width: 500px;
        width: 100%;
    }

    .overview-wrapper {
        flex: 1;
        margin: 0 5px;
        height: 510px;
        max-height: 510px;
    }
}

.overview-wrapper {
    td {
        vertical-align: middle;
    }

    .overview-info-subtitle {
        font-size: 12px;
        // color: #5f6b7c;
        font-weight: 400;
    }

    overflow-x: auto;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

/* ============================ */

.health-wrapper {
    td,
    th {
        white-space: normal;
    }
    td {
        vertical-align: middle;
    }
}

#gtable {
    $th-border-color-light: #d9dcde;
    $th-border-color-dark: rgb(44, 48, 50);

    --th-border-color: #{$th-border-color-light};
    @include rule-mode-dark() {
        --th-border-color: #{$th-border-color-dark};
    }

    thead th {
        position: sticky;
        top: 0;
        z-index: 1;

        border: none;
        box-shadow: inset 0 2px 0 var(--th-border-color), inset 0 2px * -1 0 var(--th-border-color);
    }
}

/* ============================ */

.outdated-flux-ver {
    color: #c87619 !important;
}

/* ============= CUSTOM =============== */
.closed-maintenance-window {
    color: black !important;
    font-weight: bold !important;
    @include rule-mode-dark() {
        color: white !important;
        font-weight: bold !important;
    }
}


/* ============= TABLE AND MOBILE =============== */
// max-width: 1200px for medium-sized laptops and desktops
@media (max-width: 1200px) {
    .health-wrapper {
        min-width: 100%;
        max-width: inherit;
    }

    .overview-wrapper {
        min-width: 100%;
    }

}