@import 'styles/functional';

.adp-text-normal {
    color: var(--text-primary);
}

.adp-text-muted {
    color: var(--text-secondary);
}

.adp-bg-normal {
    background-color: var(--surface-primary);
}

.adp-bg-faded {
    background-color: var(--surface-secondary);
}

.adp-border {
    border: 1px solid var(--border-primary);
}

.adp-border-color {
    border-color: var(--border-primary) !important;
}
